<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap" rel="stylesheet">
    <title>Events</title>
    <style>
        #form input{
            right:0%;
        }
    </style>
</head>
<body>
    <section id="header">
        <div id="side-menu">
            <div id="logo-menu"><h1>SmartSpend</h1><h2>Money Management</h2></div>
            <ul ><li ><a  href="/" title="Home"><pre><img src="../static/images/home.png" alt=""> Home</pre></a></li></ul>
        <ul id=active><li ><a href="expense-tracker" title='Expense Tracker'> <pre><img src="../static/images/expenses.png" alt=""> Expenses Tracker</pre></a></li></ul>
        <ul><li ><a href="financial-calculators" title="Financial Calculator"><pre><img src="../static/images/business.png" alt=""> Financial Calculators</pre></a></li></ul>                
        <ul><li><a href="" title="Investment options"><pre><img src="../static/images/piggy.png" alt=""> Saving Schemes</pre></a></li></ul>
        <ul><li><a href="" title="Investment options"><pre><img src="../static/images/wishlist.png" alt=""> Wishlist</pre></a></li></ul>
        <ul><li ><a href="" title="Profile"><pre><img src="../static/images/account.png" alt=""> Profile</pre></a></li></ul>
        </div>
        
    </section>
    <div id="why">
        <h1>Expense Trackers</h1 >
            <div class="services">
                <div class="row" style="width:500px"><a href='monthly'>
                    <img src='../static/images/accounting.png'>
                    <h1>Monthly Expense Tracker</h1>
                    <p>This feature provides you with the tools to store and analyze your monthly expenses and spending habits efficiently based on your daily expense tracker.</p>
                </a></div>
                <div class=row> <a href='daily'>
                    <img src='../static/images/time-table.png'>
                    <h1>Daily Expense Tracker</h1> 
                    <p>This feature allows you to store and manage your daily expenses efficiently.</p></a>
                </div>
            </div>
        </div>
    
</body>
</html>