<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap" rel="stylesheet">
    <title>Events</title>
    <style>
        #form input{
            right:0%;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <section id="header">
        <div id="side-menu">
            <div id="logo-menu"><h1>SmartSpend</h1><h2>Money Management</h2></div>
            <ul ><li ><a  href="/" title="Home"><pre><img src="../static/images/home.png" alt=""> Home</pre></a></li></ul>
        <ul id=active><li ><a href="expense-tracker" title='Expense Tracker'> <pre><img src="../static/images/expenses.png" alt=""> Expenses Tracker</pre></a></li></ul>
        <ul><li ><a href="financial-calculators" title="Financial Calculator"><pre><img src="../static/images/business.png" alt=""> Financial Calculators</pre></a></li></ul>                
        <ul><li><a href="" title="Investment options"><pre><img src="../static/images/piggy.png" alt=""> Saving Schemes</pre></a></li></ul>
        <ul><li><a href="" title="wishlist"><pre><img src="../static/images/wishlist.png" alt=""> Wishlist</pre></a></li></ul>
        <ul><li ><a href="/profile" title="Profile"><pre><img src="../static/images/account.png" alt=""> Profile</pre></a></li></ul>
        </div>
        
    </section>
    <div id="why">
        <h1>Last 30 Days Expenses</h1 >
            <div class=services>
                <table>
                    <tr>
                    <th><h3>Date</h3></th>
                    <th>Purpose</th>
                    <th>Amount</th>
                    </tr>
                    {%for i in data[0]%}
                    <tr>
                        <th>{{i[0]}}</th>
                        <th>{{i[1]}}</th>
                        <th>{{i[2]}}</th>
                        </tr>
                    
                    {%endfor%}
                    <tr>
                        <th>Total</th>
                        <th></th>
                        <th>{{data[1]}}</th>
                        </tr>
                </table>
                <canvas id="myChart" ></canvas>
            </div>
        </div>
    
</body>
<script>
    const xValues = ["Transportation"];
    const yValues = [100]
    
    const barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];
    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
        }
      }
    });
    
    </script>
</html>